html {
	font-size: 18px
}

body {
	font-size: 1rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Noto Sans CJK TC, Source Han Sans TC, '思源黑體', Noto Sans TC, sans-serif;
	font-weight: 500;

	user-select: none;
}
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header img{
	height: 3.5rem;
	filter: drop-shadow(0px 0px 1px white);
}
header h1{
	font-family: 'Times New Roman', Times, Noto Serif CJK TC, Source Han Serif TC, '思源宋體', Noto Serif TC, serif;
	font-weight: 900;
	font-size: 2.2rem;
}

#default-setting div{
	display: grid; 
	grid-template-columns: 1fr 1rem 5rem 2rem 1rem 5rem 2rem;
	align-items: center;
	margin-bottom: .5rem;
}
#default-setting div input#rem{
	grid-column: span 4;
}

input {
	padding: .5rem;
	font-size: .8rem;
	text-align: right;

	font-family: Fira Mono, Consola, monospace;
	font-weight: 500;

	border-style: solid;
	border-radius: .25rem;
}

#calc-result input {
	min-width: 100px;
}

.unit{
	padding-left: .5rem;
	padding-right: .5rem;
}
/* grid styles */
#calc-result{
	display: grid;
	grid-template-columns: auto 5rem;

	align-items: center;
}
#calc-result h1,
#calc-result h2,
#calc-result h3,
#calc-result br {
	grid-column: 1 / 3;
}
#calc-result input{
	grid-column: 1 / 2;
}
#calc-result .unit{
	grid-column: 2 / 3;
}
#calc-result .equal{
	grid-column: 1 / 3;

	writing-mode: vertical-rl;

	font-size: 2rem;
	font-weight: 700;

	display: flex;
	min-height: 2.5rem;
	align-items: center;
	justify-content: center;
}
