html {
	font-size: 18px
}

body {
	font-size: 1rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Noto Sans CJK TC, Source Han Sans TC, '思源黑體', Noto Sans TC, sans-serif;
	font-weight: 500;
}
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header img{
	height: 3.5rem;
	filter: drop-shadow(0px 0px 1px white);
}
header h1{
	font-family: 'Times New Roman', Times, Noto Serif CJK TC, Source Han Serif TC, '思源宋體', Noto Serif TC, serif;
	font-weight: 900;
	font-size: 2.2rem;
}

#default-setting div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .5rem;
}
#default-setting div label ~ span{
	flex-grow: 1;
}
#default-setting div .unit{
	flex-grow: 0;
}

input {
	padding: .5rem;
	font-size: .8rem;
	text-align: right;

	font-family: Fira Mono, Consola, monospace;
	font-weight: 500;

	border-style: solid;
	border-radius: .25rem;
}

#calc-result input {
	min-width: 100px;
}

.unit{
	padding-left: .5rem;
	padding-right: .5rem;
}
