body{
	background-color: var(--background-color);
	color: var(--text-color, /* 暗鳶色 */ #33130F);
}
input{
	color: var(--input-color, #333);
	background-color: var(--input-background-color, transparent);
	border-color: var(--input-border-color, transparent);
}
input::placeholder{
	color: var(--input-placeholder-color, gray)
}

h1, h2, h3{
	color: var(--heading-color, #33130F);
}
